<tr class="<%= class_tr_message(conversation) %>">
  <td><%= l(conversation.last_message.created_at, :format => :default) %></td>
  <td><%= link_to(conversation.subject, conversation_path(conversation)) %></td>
</tr>
