<tr>
  <td><%= link_to(expiring_item.title, edit_check_list_item_path(expiring_item.check_list, expiring_item)) %></td>
  <td><%= expiring_item.quantity %></td>
  <td><%= l(expiring_item.expiry) %></td>
</tr>