<div class="span-6">
  <div class="light box">
    <h1>Bienvenue dans SP-Gestion !</h1>
    <p>Afin de mettre en place la gestion de votre centre, voici quelques étapes incontournables :</p>
    <ul>
      <li>Créer les véhicules</li>
      <li>Créer les tenues</li>
      <li>Créer les hommes</li>
    </ul>
  </div>
</div>