<p>Bonjour,</p>
<p>Afin de profiter au maximum de SP-Gestion nous vous conseillons de commencer par créer les tenues utilisées habituellement dans votre centre (menu "Configuration > Tenues"). Vous pouvez ensuite ajouter le personnel (menu "Personnel") et commencer à créer votre premières convocations (menu "Personnel > Convocations").</p>
<p>SP-Gestion est en cours de développement, toutes les fonctionnalités ne sont donc pas encore disponibles mais seront ajoutées dans les semaines à venir. N'hésitez pas à nous faire part de toutes vos remarques.</p>
<p>Nous vous souhaitons beaucoup de plaisir avec SP-Gestion et nous sommes disponible pour répondre à toutes vos questions.</p>
<p>L'équipe SP-Gestion (<a href="mailto:contact@sp-gestion.fr">contact@sp-gestion.fr</a>)</p>
<p>PS : il est possible de consulter ce message à tout moment via le menu "Accueil > Messages".</p>