<p>Bonjour,</p>
<p>Avant de pouvoir utiliser pleinement SP-Gestion vous devez configurer quelques éléments propres à votre centre. Nous avons créé des tenues par défaut (que vous pouvez modifier dans le menu "Personnel > Tenues") et vous pouvez saisir les véhicules disponibles dans votre centre (menu "Matériel > Véhicules").</p>
<p>Le personnel (menu "Personnel") doit être complété avant de pouvoir créer les convocations (menu "Personnel > Convocations") et les rapports d'interventions (menu "Interventions").</p>
<p>SP-Gestion est en cours de développement, toutes les fonctionnalités ne sont donc pas encore disponibles mais seront ajoutées dans les semaines à venir. N'hésitez pas à nous faire part de vos remarques.</p>
<p>Nous vous souhaitons beaucoup de plaisir avec SP-Gestion et nous sommes disponibles pour répondre à toutes vos questions.</p>
<p>L'équipe SP-Gestion (<a href="mailto:contact@sp-gestion.fr">contact@sp-gestion.fr</a>)</p>
<p>PS : il est possible de consulter ce message à tout moment via le menu "Accueil > Messages".</p>