<p>Bonjour,</p>
<p>Avant de pouvoir utiliser pleinement SP-Gestion vous devez configurer
  quelques éléments propres à votre centre. Nous avons créé des tenues par
  défaut (que vous pouvez modifier dans le menu "Personnel > Tenues") et vous
  pouvez saisir les véhicules disponibles dans votre centre (menu "Matériel >
  Véhicules").</p>
<p>Le personnel (menu "Personnel") doit être complété avant de pouvoir créer les
  convocations (menu "Personnel > Convocations") et les rapports d'interventions
  (menu "Interventions").</p>
<p>Vous pourrez également compléter les formations (menu "Personnel >
  Formations") afin de pouvoir indiquer dans chaque personne les formations déjà
  effectuées. Ceci vous permettra de profiter du synoptique des formations
   (menu "Personnel", lien "Synoptique des formations") pour avoir une vue
   d'ensemble des formations du personnel de votre corps.</p>
<p>Vous retrouverez également des statistiques pour chaque personne (lien
  "Statistiques" dans une personne) ou pour toutes les interventions (menu
  "Interventions > Statistiques").</p>
<p>Pour affiner les statistiques de chaque personne vous pouvez compléter des
  rôles (menu "Interventions > Rôles") qui pourront être précisés lors des
  rapports d'interventions.</p>
<p>Il est possible d'inviter d'autres personnes à utiliser votre compte SP-Gestion
   (menu "Administration > Utilisateurs"). Vous pouvez créer des groupes
   (menu "Administration > Groupes") pour restreindre les droits des autres
   utilisateurs.</p>
<p>Vous pouvez également personnaliser le logo, la numérotation des
  interventions (etc...) de votre compte SP-Gestion (menu "Administration > Compte").</p>
<p>SP-Gestion est développé activement, vous pouvez suivre les nouveautés
  sur <%= link_to("le blog", "http://blog.sp-gestion.fr") %>. N'hésitez pas à
  nous faire part de vos idées sur <%= link_to("le forum", "http://forum.sp-gestion.fr") %>
  où à nous envoyer un email pour toutes vos questions.</p>
<p>L'équipe SP-Gestion (<a href="mailto:contact@sp-gestion.fr">contact@sp-gestion.fr</a>)</p>
<p>PS : il est possible de consulter ce message à tout moment via le menu "Accueil > Messages".</p>
