<div class="span-6 first">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Titre</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @messages) || raw("<tr><td colspan='2'>Pas encore de message !</td></tr>") %>
    </tbody>
  </table>
  <%= will_paginate(@messages, :previous_label => "", :next_label => "") %>
</div>