<div class="block-title"><h4><%= @message.title %></h4></div>
<div class="well well-large">
  <p>Date : <%= l(@message.created_at, :format => :default) %></p>
  <p><%= raw(@message.body) %></p>
</div>