<div class="span-6">
  <div class="light box">
    <h1><%= @message.title %></h1>
    <p>Date : <%= l(@message.created_at, :format => :default) %></p>
    <p><%= raw(@message.body) %></p>
  </div>
</div>