<h2 class="title-01">Votre compte a été créé !</h2>
<div class="in">
  <div class="box">
    Un email a été envoyé à votre adresse <%= @user.email %> afin de confirmer votre inscription.
  </div>
</div>