<p>Bonjour,</p>

<p>Vous avez créé récemment un compte SP-Gestion.fr mais ne l'avez pas activé. Vous pouvez cliquer sur le lien ci-dessous pour activer votre compte et découvrir SP-Gestion :</p>

<p><%= link_to("Activation de mon compte SP-Gestion.fr", @confirmation_url) %></p>

<p>N'hésitez pas à nous contacter si un problème technique vous empêche d'activer votre compte SP-Gestion.</p>

<p>A bientôt sur SP-Gestion.fr<p>

<p>L'équipe SP-Gestion (<%= mail_to("contact@sp-gestion.fr", "contact@sp-gestion.fr")%>)</p>