<p>Bonjour,</p>
<p>Merci de votre inscription sur SP-Gestion.fr, cliquez sur le lien ci-dessous pour activer votre compte :</p>
<p><%= link_to("Activation de mon compte SP-Gestion.fr", @confirmation_url) %></p>
<p>A bientôt sur SP-Gestion.fr<p>
<p>L'équipe SP-Gestion</p>