<p>Bonjour,</p>
<p>Votre compte a bien été créé par l'administrateur du site <%= @station_url %>.sp-gestion.fr</p>
<p>Il vous suffit de l'activer en cliquant sur le lien ci-dessous pour choisir un mot de passe :</p>
<p><%= link_to("Activation de mon compte SP-Gestion.fr", @confirmation_url) %></p>
<p>A bientôt sur SP-Gestion.fr<p>
<p>L'équipe SP-Gestion</p>