<p>Bonjour,</p>
<p>Merci de cliquer sur le lien suivant afin de confirmer votre changement d'adresse email :</p>
<p><%= link_to("Confirmer le changement d'adresse email SP-Gestion.fr", @new_email_url) %></p>
<p>A bientôt sur SP-Gestion.fr<p>
<p>L'équipe SP-Gestion</p>