<p>Bonjour,</p>
<p>Afin d'obtenir un nouveau mot de passe pour votre compte SP-Gestion.fr veuillez cliquer sur le lien suivant :</p>
<p><%= link_to("Modifier mon mot de passe de compte SP-Gestion.fr", @password_reset_url) %></p>
<p>A bientôt sur SP-Gestion.fr</p>
<p>L'équipe SP-Gestion</p>