<li>
  <%= check_box_tag("convocation[fireman_ids][]", fireman.id, checked.include?(fireman), :class => "status_#{status}") %>
  <label class="fireman_id"><%= h(fireman.firstname) %>&nbsp;<%= h(fireman.lastname) %></label>
</li>