<div class="col-md-offset-1 checkbox">
  <label>
    <%= check_box_tag("convocation[fireman_ids][]", fireman.id, attendees.has_key?(fireman.id), :class => "status_#{status}") %>    
    <%- if fireman.status != Fireman::STATUS['JSP'] -%>
      <%= Grade::GRADE.key(fireman.grade) %> -
    <%- end -%>
    <%= fireman.firstname %>&nbsp;<%= fireman.lastname %>
  </label>
</div>
