<div class="block-title"><h4>Nouvelle convocation</h4></div>
<%= render('form', :convocation => @convocation,
                   :attendees => @attendees,
                   :station => @station,
                   :firemen => @firemen) %>