<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>SP-Gestion.fr - Erreur</title>
  <%= stylesheet_link_tag("front-all", :media => "all") %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1 id="logo"></h1>
      <br class="cl" />
    </header>

    <div id="page">
      <h2 class="ribbon full">Erreur</h2>
      <div class="triangle-ribbon"></div>
      <br class="cl" />
      <p>Nous sommes désolé mais quelque chose ne s'est pas déroulé comme prévu.</p>
      <p>Nous avons été averti et nous travaillons à résoudre ce problème. <a href="javascript:history.back();">Cliquez-ici pour retourner à la page précédente.</a></p>
    </div>

    <footer>
      <ul class="footer-nav">
        <li><a href="mailto:contact@sp-gestion.fr">Contactez-nous</a> |</li>
        <li><a href="http://forum.sp-gestion.fr" target="blank">Forum des utilisateurs</a> |</li>
        <li><a href="http://ping.sp-gestion.fr" target="blank">Etat du service</a></li>
      </ul>
      <p>Copyright © 2009-<%= Date.today.year %> imagineapp</p>
      <br class="cl" />
    </footer>
  </div>
</body>
</html>
