<tr>
  <td>
    <div class="checkbox">
      <label>
        <%= check_box_tag("group[user_ids][]", user.id, group.users.include?(user)) %>
        <%= user.email %>
      </label>
    </div>
  </td>
</tr>
