<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <%= link_to(icon_label_text('glyphicon glyphicon-plus', 'Créer un nouveau groupe'),
                new_group_path,
                :class => 'btn btn-default btn-sm') %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => @groups) || raw("<tr><td colspan='1'>Pas encore de groupe, tous les utilisateurs ont tous les droits !</td></tr>") %>
  </tbody>
</table>
<%= page_navigation_links(@groups) %>
