<tr>
  <td><%= link_to(user.email, user_path(user)) %></td>
  <td>
    <%- if user.fireman_id.blank? -%>
      Aucun
    <%- else -%>
      <%= link_to(grade_and_name(fireman: user.fireman), fireman_path(user.fireman)) %>
    <%- end -%>
  </td>
  <td>
    <%- if user.group.blank? -%>
      Aucun
    <%- else -%>
      <%= link_to(user.group.name, group_path(user.group)) %>
    <%- end -%>
  </td>
  <td>
    <%= l!(user.last_login_at) %>
  </td>
  <td>
    <%- if user.owner? -%>
      Propriétaire du compte
    <%- elsif !user.confirmed_at? -%>
      Compte non confirmé
    <%- end -%>
  </td>
</tr>
