<tr>
  <td><%= user.email %></td>
  <td>
    <%- unless user.group.blank? -%>
      <%= link_to(user.group.name, group_path(user.group)) %>
    <%- end -%>
  </td>
  <td>
    <%= l!(user.last_login_at) %>
  </td>
  <td>
    <%- if user.owner? -%>
      Propriétaire du compte
    <%- elsif !user.confirmed_at? -%>
      Compte non confirmé
    <%- end -%>
  </td>
  <td>
    <%- unless user.owner? -%>
      <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + raw("&nbsp;Supprimer"), user,
                  :method => :delete,
                  :data => { :confirm => "Êtes-vous sûr ?\r\n\r\nLes informations créées par cet utilisateur NE SONT PAS supprimées !\r\n\r\nVous pouvez réinviter cet utilisateur à tout moment." })%>
    <%- end -%>
  </td>
</tr>
