.fieldWithErrors {
  display:inline;
}

.fieldWithErrors input {
  background: #FEE;
	border-color: #C00;	
}

.formError {
  color: red;
}

/*Signup form*/

#new_station table {
  width: 60%;
}

#new_station input {
  height:20px;
  font-size: 1.2em;
  margin: 3px;
  width: 250px;
}

#new_station label {
  font-size:1.2em;
  font-weight: bold;
}

#new_station h4 {
  margin: 0px 0px 3px 0px;
  padding: 0;
  color: #C00;
  font-size: 1.3em;
}

#new_station p {
  margin: 0;
  padding: 0;
}