<tr class="<%= cycle("odd","even") %>">
  <td><%= Grade::GRADE.key(fireman_intervention.grade) %></td>
  <td><%= fireman_intervention.fireman.lastname %></td>
  <td><%= fireman_intervention.fireman.firstname %></td>
</tr>