<tr>
  <td><%= Grade::GRADE.key(fireman_intervention.grade) %></td>
  <td><%= fireman_intervention.fireman_lastname %></td>
  <td><%= fireman_intervention.fireman_firstname %></td>
  <td><%= display_intervention_role(fireman_intervention) %></td>
</tr>