<tr class="<%= cycle("odd","even") %>">
  <td><%= Grade::GRADE.index(fireman_intervention.grade) %></td>
  <td><%= h(fireman_intervention.fireman.lastname) %></td>
  <td><%= h(fireman_intervention.fireman.firstname) %></td>
</tr>