<div class="span-6 first">
  <p class="right">
    <%= link_to(image_tag("back/icons/add.png") + raw("&nbsp;Créer une nouvelle tenue"), new_uniform_path)%> -
    <%= link_to(image_tag("back/icons/down.png", :alt => "Créer les tenues par défaut") + raw("&nbsp;Créer les tenues par défaut"), reset_uniforms_path, :method => :post, :confirm => "Etes-vous sûr de vouloir ajouter les tenues standard à celles déjà existantes ?")%>
  </p>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @uniforms) || raw("<tr><td colspan='2'>Pas encore de tenue !</td></tr>") %>
    </tbody>
  </table>
  <%= will_paginate(@uniforms, :previous_label => "", :next_label => "") %>
</div>