<h1><%= @uniform.title %></h1>
<p><%= @uniform.description %></p>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + raw("&nbsp;Editer"), edit_uniform_path(@uniform))%> -
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + raw("&nbsp;Supprimer"), uniform_path(@uniform), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>