<h1><%= h(@uniform.title) %></h1>
<p><%= h(@uniform.description) %></p>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + "&nbsp;Editer".html_safe, edit_uniform_path(@uniform))%> -
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + "&nbsp;Supprimer".html_safe, uniform_path(@uniform), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>