<h1><%= h(@uniform.title) %></h1>
<p><%= h(@uniform.description) %></p>
<p>
  <%= link_to("Editer", edit_uniform_path(@uniform))%> - 
  <%= link_to("Supprimer", uniform_path(@uniform), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>