<p>Bonjour,</p>

<p>Vous nous avez confié récemment votre adresse email afin d'être informé de la disponibilité de SP-Gestion. Nous vous avons transmis un code d'accès à SP-Gestion mais vous ne l'avez pas utilisé. Pour rappel le code d'accès est le suivant :</p>

<p>Site : <%= link_to("Accéder à la page d'inscription", signup_url) %></p>

<p>Code beta : <%= @code %></p>

<p>N'hésitez pas à nous contacter si un problème technique vous empêche de vous inscrire à SP-Gestion.</p>

<p>Meilleures salutations,</p>

<p>Raphaël Emourgeon - SP-Gestion.fr (<%= mail_to("raphael@sp-gestion.fr", "raphael@sp-gestion.fr")%>)</p>

<p>PS : le code d'inscription n'est valable qu'une seule fois. Si vous souhaitez faire découvrir SP-Gestion à votre entourage nous enverrons prochainement d'autres codes d'accès aux personnes qui s'inscrivent sur le site www.sp-gestion.fr</p>

<p style="font-size:10px;">Vous recevez cet email dans le cadre de votre inscription au programme d'avant-première de SP-Gestion. Si vous n'avez pas sollicité cet email merci de le laisser sans suite.</p>