<p>Bonjour,</p>

<p>Vous nous avez confié récemment votre adresse email afin d'être informé de la disponibilité de SP-Gestion. Nous sommes heureux de pouvoir vous transmettre en avant première un accès à SP-Gestion afin de découvrir les premières fonctionnalités :</p>

<p>Site : <%= link_to("Accéder à la page d'inscription", signup_url) %></p>

<p>Code beta : <%= @code %></p>

<p>Vous pouvez nous transmettre vos remarques, problèmes et questions en répondant à cet email. Nous ferons le nécessaire afin d'y répondre dans les plus brefs délais.</p>

<p>Nous allons désormais travailler à ajouter des nouvelles fonctionnalités (gestion des rapports d'intervention ...) et nous ne manquerons pas de vous tenir informé des nouveautés au fur et à mesure deni leur dispobilité. Vous pouvez également découvrir l'avancement du projet sur le blog <%= link_to("blog.sp-gestion.fr", "http://blog.sp-gestion.fr")%></p>

<p>Meilleures salutations,</p>

<p>Raphaël Emourgeon - SP-Gestion.fr (<%= mail_to("raphael@sp-gestion.fr", "raphael@sp-gestion.fr")%>)</p>

<p>PS : le code d'inscription n'est valable qu'une seule fois. Si vous souhaitez faire découvrir SP-Gestion à votre entourage nous enverrons prochainement d'autres codes d'accès aux personnes qui s'inscrivent sur le site www.sp-gestion.fr</p>

<p style="font-size:10px;">Vous recevez cet email dans le cadre de votre inscription au programme d'avant-première de SP-Gestion. Si vous n'avez pas sollicité cet email merci de le laisser sans suite.</p>