<h2 class="title-01">Au revoir ... et à bientôt ?</h2>
<div class="in">
  <div class="box">
    <p>Nous sommes désolé de vous voir partir mais merci d'avoir essayé SP-Gestion.</p>
    <p><b>Toutes vos données ont été définitivement supprimées</b>.</p>
    <p>Vous pouvez recréer un compte à tout moment et n'hésitez pas à nous <%= mail_to("contact@sp-gestion.fr", "envoyer un petit message")%> pour nous donner votre avis !</p>
  </div>
</div>