<tr>
  <td><%= Grade::GRADE.key(convocation_fireman.grade) %></td>
  <td><%= convocation_fireman.fireman_lastname %></td>
  <td><%= convocation_fireman.fireman_firstname %></td>
  <td><%= check_box_tag(:convocation_fireman, :presence, convocation_fireman.presence, :disabled => true) %></td>
</tr>