<li>
  <%= check_box_tag("intervention[fireman_ids][]", fireman.id, @participants.has_key?(fireman.id)) %>
  <label class="click_prev_checkbox"><%= Grade::GRADE.key(fireman.grade) %>&nbsp;-&nbsp;<%= fireman.firstname %>&nbsp;<%= fireman.lastname %></label>
</li>