<div class="block-title"><h4>Edition de l'intervention n°<%= @intervention.number %></h4></div>
<%= render('form', :intervention => @intervention,
                   :firemen => @firemen,
                   :participants => @participants,
                   :vehicles => @vehicles,
                   :station => @station,
                   :subkinds => @subkinds,
                   :cities => @cities) %>