<div class="span-6 first">
  <p class="right"><%= link_to(image_tag("back/icons/add.png") + "&nbsp;Créer une nouvelle intervention", new_intervention_path)%></p>
  <table>
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Date</th>
        <th>Type</th>
        <th>Lieu/ville</th>
        <th>Véhicule(s)</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @interventions) || "<tr><td colspan='5'>Pas encore d'intervention !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@interventions, :previous_label => "", :next_label => "") %>
</div>