<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <%= link_to(icon_label_text('icon-plus', 'Créer un nouveau rôle'),
                new_intervention_role_path,
                :class => 'btn btn-small') %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nom court</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => @intervention_roles) || raw("<tr><td colspan='2'>Pas encore de rôle !</td></tr>") %>
  </tbody>
</table>
<%= page_navigation_links(@intervention_roles) %>