<div class="span-5 first">
  <h1>Nouveau matériel pour la liste "<%= @check_list.title %>"</h1>
  <%= render(:partial => 'form') %>
  <%- content_for(:javascript) do -%>
    $(':text:visible:enabled:first').focus();
  <%- end -%>
</div>