<tr>
  <td><%= link_to(fireman_training.training_short_name, fireman_fireman_training_path(fireman, fireman_training)) %></td>
  <td><%= l!(fireman_training.achieved_at) %></td>
  <td><%= fireman_training.rem %></td>
</tr>