<div class="block-title"><h4>Nouvelle formation du <%= grade_and_name(@fireman) %></h4></div>
<%= render('form', :fireman => @fireman,
                   :fireman_training => @fireman_training,
                   :trainings => @trainings) %>