Bonjour,
<br /><br />
Merci de votre intérêt pour SP-Gestion. Afin de recevoir notre email d'annonce de disponibilité de SP-Gestion, merci de cliquer sur le lien suivant :<br />
<%= link_to("Je valide mon inscription", @activation_url) %>
<br /><br />
L'équipe SP-Gestion.fr
<br /><br />
<span style="font-size:10px;">Vous recevez cet email dans le cadre de votre inscription à la newsletter de disponibilité de SP-Gestion. Si vous n'avez pas sollicité cet email merci de le laisser sans suite.</span>