<p>Bonjour,</p>

<p>Vous avez demandé récemment à recevoir en avant-première un accès à SP-Gestion mais vous n'avez pas validé votre inscription. Vous pouvez le faire en cliquant sur le lien suivant :</p>

<p><%= link_to("Je valide mon inscription", @activation_url) %></p>

<p>L'équipe SP-Gestion.fr</p>

<p style="font-size:10px;">Vous recevez cet email dans le cadre de votre inscription au programme d'avant-première de SP-Gestion. Si vous n'avez pas sollicité cet email merci de le laisser sans suite.</p>