<div class="row">
  <div class="span6">
    <%= image_tag(Gchart.bar( :title => "Interventions par heure (Total : #{sum})", :size => '500x200',
                              :data => data,
                              :axis_with_labels => 'x,y',
                              :axis_labels => [(0..23).to_a,
                                               [0, data.max]],
                              :bar_width_and_spacing => [15,5])) %>
  </div>
  <div class="span3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Heure</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
      <%- data.each_with_index do |number, hour| -%>
        <tr>
          <td><%= hour %></td>
          <td><%= number %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>