<div class="row">
  <div class="col-md-6">
    <%= image_tag(Gchart.pie_3d(:title => "Interventions par véhicule (Total : #{sum})", :size => '600x200',
                                :data => data.map { |x| x[1] },
                                :labels => data.map { |x|
                                  "#{x[0]} (#{x[1]})"
                                })) %>
  </div>
  <div class="col-md-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Véhicule</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
      <%- data.each.map do |vehicle, number| -%>
        <tr>
          <td><%= vehicle %></td>
          <td><%= number %></td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  </div>
</div>
