<div class="span-6 first">
  <p class="right"><%= link_to(image_tag("back/icons/add.png") + raw("&nbsp;Créer un nouveau véhicule"), new_vehicle_path)%></p>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date de passage aux mines</th>
        <th>Date de contrôle technique</th>
        <th>Date de révision</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @vehicles) || raw("<tr><td colspan='4'>Pas encore de véhicule !</td></tr>") %>
    </tbody>
  </table>
  <%= will_paginate(@vehicles, :previous_label => "", :next_label => "") %>
</div>