<div class="span-5 first">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
    </thead>
    <tbody>
      <%= render(:partial => @vehicles) || "<tr><td colspan='1'>Pas encore de véhicule !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@vehicles, :previous_label => "", :next_label => "") %>
</div>
<div class="span-1">
  <p class="light box">
    <%= link_to("Nouveau", new_vehicle_path) %>
  </p>
</div>