<div class="span-6 first">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
    </thead>
    <tbody>
      <%= render(:partial => @vehicles) || "<tr><td colspan='1'>Pas encore de véhicule !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@vehicles, :previous_label => "", :next_label => "") %>
</div>