<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <%= link_to(icon_label_text('glyphicon glyphicon-plus', 'Créer un nouveau véhicule'),
                new_vehicle_path,
                :class => 'btn btn-default btn-sm') %>
    <%= link_to(icon_label_text('glyphicon glyphicon-list', 'Véhicules radiés'),
                delisted_vehicles_path,
                :class => 'btn btn-default btn-sm') %>
  </div>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date de passage aux mines</th>
      <th>Date de contrôle technique</th>
      <th>Date de révision</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => @vehicles) || raw("<tr><td colspan='4'>Pas encore de véhicule !</td></tr>") %>
  </tbody>
</table>
<%= page_navigation_links(@vehicles) %>
