<div class="span-6 first">
  <p class="right"><%= link_to(image_tag("back/icons/add.png") + "&nbsp;Créer un nouveau véhicule", new_vehicle_path)%></p>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @vehicles) || "<tr><td colspan='1'>Pas encore de véhicule !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@vehicles, :previous_label => "", :next_label => "") %>
</div>