<h1><%= @vehicle.name %></h1>
<p>
  <%= link_to("Editer", edit_vehicle_path(@vehicle))%> - 
  <%= link_to("Supprimer", vehicle_path(@vehicle), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>