<h1><%= h(@vehicle.name) %></h1>
<p>
  <%= link_to(image_tag("back/icons/edit.png", :alt => "Editer") + "&nbsp;Editer", edit_vehicle_path(@vehicle))%> - 
  <%= link_to(image_tag("back/icons/delete.png", :alt => "Supprimer") + "&nbsp;Supprimer", vehicle_path(@vehicle), :method => :delete, :confirm => "Êtes-vous sûr ?") %>
</p>