<tr style="<%= !(f.object.date.blank?) ? "background-color:#a8aaaa;" : "" %>">
  <td><%= img_grade(f.object.kind) %></td>
  <td>
    <%= f.date_select(:date, :include_blank => true, :use_short_month => true) %>
    <%= f.hidden_field(:kind, :value => f.object.kind) %>
  </td>
</tr>