<%- content_for("GC_#{Grade::GRADE_CATEGORY_MATCH[f.object.kind]}".to_sym) do -%>
  <div class="form-group">
    <label class="col-sm-2"><%= img_grade(f.object.kind) %></label>
    <%= f.text_field(:date, :value => l!(f.object.date), :size => 20, :class => "date form-control") %>
    <%= f.hidden_field(:kind, :value => f.object.kind) %>
    <%= error_message_on(f.object, :date) %>
  </div>
<%- end -%>
