<div class="span-5 first">
  <table>
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
    </thead>
    <tbody>
      <%= render(:partial => @firemen) || "<tr><td colspan='2'>Pas encore de personne !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@firemen, :previous_label => "", :next_label => "") %>
</div>
<div class="span-1">
  <p class="light box">
    <%= link_to("Nouveau", new_fireman_path) %>
  </p>
</div>