<div class="span-6 first">
  <p class="right">
    <%= link_to(image_tag("back/icons/add.png") + raw("&nbsp;Créer une nouvelle personne"), new_fireman_path)%>
    &nbsp;|&nbsp;
    <%= link_to("Trombinoscope", facebook_firemen_path)%>
  </p>
  <table>
    <thead>
      <tr>
        <th>Grade</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Statut</th>
        <th>Etiquette(s)</th>
      </tr>
    </thead>
    <tbody>
      <%= render(:partial => @firemen) || raw("<tr><td colspan='5'>Pas encore de personne !</td></tr>") %>
    </tbody>
  </table>
  <%= will_paginate(@firemen, :previous_label => "", :next_label => "") %>
</div>