<div class="span-6 first">
  <table>
    <thead>
      <tr>
        <th>Grade</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Statut</th>
    </thead>
    <tbody>
      <%= render(:partial => @firemen) || "<tr><td colspan='2'>Pas encore de personne !</td></tr>" %>
    </tbody>
  </table>
  <%= will_paginate(@firemen, :previous_label => "", :next_label => "") %>
</div>