<p class="browser_capabilities_warning">
  Pour profiter pleinement de SP-Gestion nous vous conseillons de mettre à jour votre navigateur grâce à <%= link_to("Windows Update", "http://windowsupdate.microsoft.com/") %> ou d'utilisater un navigateur alternatif (comme <%= link_to("Mozilla Firefox", "http://www.mozilla-europe.org/fr/firefox/") %> ou <%= link_to("Google Chrome", "http://www.google.ch/chrome?hl=fr") %>).
</p>